bcrypt==4.0.1
cffi==1.15.1
click==8.0.4
cryptography==40.0.2
dataclasses==0.8
dnspython==2.2.1
Flask==2.0.3
Flask-Bcrypt==1.0.1
Flask-SQLAlchemy==2.5.1
greenlet==2.0.2
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
Pillow==8.4.0
pycparser==2.21
pyfingerprint==1.5
PyJWT==2.4.0
pymongo==4.1.1
PyMySQL==1.0.2
pyserial==3.5
SQLAlchemy==1.4.52
typing_extensions==4.1.1
Werkzeug==2.0.3
zipp==3.6.0
