<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Vote</h1>
<form id="voteForm">
    <input type="text" id="name" placeholder="Name" required>
    <input type="text" id="fingerprint" placeholder="Fingerprint" required>
    <input type="number" id="candidate_id" placeholder="Candidate ID" required>
    <button type="submit">Vote</button>
</form>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
